<style>

	.tile-information {
		height: 270px;
		width: 100%;
		margin: auto;
	}

	.inner_tile-information {
		top: 50%;
		height: 270px;
		width: 600px;
		margin: auto;
		text-align: center;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: rgb(35, 43, 67);
		font-size: 20px;
	}

	.topbutton {
		text-align: center;
	}

	.Info_section  {
		background-color: rgb(236, 133, 43);
		height: 300px;
		width: 100%;
	}

	.summary_section  {
		background-color: rgb(236, 133, 43);
		top: 50%;
		height: 200px;
		width: 100%;
	}

	.summarytable {
		border-collapse: collapse;
	}

	.summary,.summary_header{
		border: none;
	}

	.gridding {
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
		grid-gap: 10px;
		padding: 10px;
	}

	.gridding > div {
		text-align: center;
		padding: 6px 0;
	}

	.num2 {
		font-size: 50px;
		color: white;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	.num3 {
		font-size: 20px;
		color: white;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.boxes {
		display: grid;
		grid-template-columns: 150px auto 150px;
		grid-template-rows: 150px;
		grid-gap: 1em;
	}

	.middle{
		background: black;
		padding: 0px;
		grid-column: 1 / 3;
	}

	.boxes > * {
		display: flex;
		background-size: auto;
		align-items: center;
		justify-content: center;
	}

	.middle {
		display: grid;
		grid-gap: 3px;
		padding: 0px;
		max-height: 100%;
		}

	.boxes-item {
		background-color: rgba(255, 255, 255, 0.8);
		text-align: center;
		padding: 0px;
	}

	.item6 {
		grid-column: 1;
		grid-row: 1;
		display: grid;
		grid-template-rows: 200px 300px;
		background: url(../static/images/jellyfish.jpg) no-repeat;
		background-size:cover;
	}

	.item7 {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-rows: 200px 300px;
		background: url(../static/images/forest.jpg) right no-repeat;
		background-size: cover;
	}

	.item8 {
		grid-column: 3;
		grid-row: 1;
		display: grid;
		grid-template-rows: 200px 300px;
		background: url(../static/images/poverty.jpg) no-repeat;
		background-size: cover;
	}
	.tile_c {
		background: rgba(0, 0, 0, 0.3); 
		height: 250%;
		width: 100%;
		color: white;
		top: 50%;
	}

	.innerWords {
		word-break:keep-all;
		height: 100px;
		width: 300px;
		color: white;
		font-size: 30px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-align: center;
		align-items: center;

	}


</style>

<section class="info_page">
	<div class = "tile-information">
		<div class="inner_tile-information">
			<br>
			<br>
			<span class="topbutton">Please give me more marks for styling and css. I hope the models are correct and this website works </span>
			<br>
			<br>
			<button type="button" class="info_button" style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			color:white; border-radius: 8px; font-size: 20px; background-color: rgb(35, 43, 67); width: 300px; height: 40px;">More Info</button>
		</div>
	</div>
</section>

<div class="summary_section">

	<div class="gridding">
		<div class="num2"></div>
		<div class="num2">${{c_sum_f}}</div>  
		<div class="num2">{{c_count_f}}</div>
		<div class="num2">{{c_sum_p}}</div>
		<div class="num2">{{c_on_sum_p}}</div>
		<div class="num2"></div>
		<div class="num3"></div>  
		<div class="num3">Dollars</div>
		<div class="num3">Donnors</div>
		<div class="num3">Projects</div>
		<div class="num3">Ongoing</div>
		<div class="num3"></div>
	</div>
</div>
<br>
<br>
<div class="Info_section">

	<table id='summarytable' class="table table-sm" style="color: white;">

		<tr>
			<th>Title</th>
			<th>Started On</th>
			<th>Category</th>
			<th>Donate</th>
		</tr>

		{% for proj in ongoing %}

		<tr>
			<td style="font-size: larger;">{{proj.1}}</td>
			<td>{{proj.7}}</td>
			<td>{{proj.3}}</td>
			<td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_funding' request.user.id %}"><b>New Funding</b></a></td>
		</tr>
		{% endfor %}

	</table>
	<div style="color: white;" align="center"><h4>For More Projects click the icons</h4></div>

</div>

<div class="boxes-container">
          
	<div class="middle">
		<div class="boxes-item item6">
			<div class = "tile_c">
				<div class = "innerW" align="center">
					<br>
					<br>
					<br>
					<br>
					<div class="innerWords">Raise funds for non-profit projects</div><br><br>
					<h3>~The Cause~</h3>
				</div>
			</div>
		</div>

		<div class="boxes-item item7">
			<div class = "tile_c">
				<div class = "innerW" align="center">
					<br>
					<br>
					<br>
					<br>
					<div class="innerWords">Anyone capable of funding these projects</div><br><br>
					<h3>~Donors~</h3>
				</div>
			</div>
		</div>

		<div class="boxes-item item8">
			<div class = "tile_c" >
				<div class = "innerW" align="center">
					<br>
					<br>
					<br>
					<br>
					<div class="innerWords">Relieve suffering </div><br><br>
					<h3>~Our impact~</h3>
				</div>
			</div>
		</div>  
	</div>
</div>
